

<div class="container">
  <h1>Your Cart</h1>
  <% if @cart_items.size == 0 %>
    <p>Your cart is empty! <%= link_to "Continue shopping", products_path %>.</p>
  <% else %>
    <div class="row">
      <div class="col-lg-9">
        <%= render partial: 'cart_item',
                  collection: @cart_items %>
      </div>
      <div class="col-lg-3">
        <%= button_to checkout_shipping_path, method: :get, class: "btn btn-success btn-lg w-100" do %>
          Checkout
        <% end%>
      </div>
    </div>
  <% end %>
  </div>